[submodule "third_party/dreamerv3"]
	path = third_party/dreamerv3
	url = https://github.com/object814/dreamerv3-torch.git
[submodule "third_party/vjepa2"]
	path = third_party/vjepa2
	url = git@github.com:object814/vjepa2.git
[submodule "third_party/STORM"]
	path = third_party/STORM
	url = git@github.com:object814/STORM.git
[submodule "third_party/tdmpc2"]
	path = third_party/tdmpc2
	url = git@github.com:object814/tdmpc2.git
